/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-image: url('background3.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 40px;
    color: #334155;}
    
/* Main title */

h1 {text-align: center;
    color: rgb(49, 115, 46);
    font-size: 36px;
    margin-bottom: 2px;}

/* Main container */

.container {
    width: 950px;
    margin: auto;
    background: rgba(255, 255, 255, 0);
    border-radius: 15px;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
}


/* Input section spans full width */

.input-section {grid-column: 1 / -1;}

/* Input section */

.input-section {

    background: #da94cc00;
    padding: 25px;
    border-radius: 15px;
    height: fit-content;

}

label
{
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
    color: #334155;
}


input
{
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 2px solid #20b2aa;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}


input:focus {
    border-color: #f892be;}

/* Button */

button {

    width: 100%;
    margin-top: 20px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2d9d4e;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}


button:hover {

    background:#1f7035;
    transform: translateY(-2px);

}



/* Properties Section - Left side */

.properties-section {

    background:#f8fafc;
    padding:25px;
    border-radius:15px;
    grid-column: 1;

}


/* Closures Section - Right side */

.closures-section {

    background:#f8fafc;
    padding:25px;
    border-radius:15px;
    grid-column: 2;

}


.properties-section h2,
.closures-section h2 {

    color:#2d9d4e;
    margin-bottom:10px;

}



/* Result list */

ul {

    list-style:none;
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
    border-left:5px solid #ed64ab;
    box-shadow:0 5px 10px rgba(0,0,0,0.05);

}
li {padding:5px;}

/* Closure section */

p {

    font-weight:600;
    color:#475569;
    margin-top:15px;

}

#reflexive-closure,
#symmetric-closure,
#transitive-closure {

    font-size:14px;
    color:#334155;

}

/* Mobile responsive */

@media(max-width:900px){
    .container{
        width:90%;
        grid-template-columns:1fr;
    }
}